<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>

    {{> header}}

    <main style="width:90%; margin : 0 auto;">
      <header class="intro">

        <h1 style="font-family: 'Lato', cursive; font-size: 7rem; color : #555;line-height:1.5">Gallery test</h1>
        <p style="font-family: 'Lora', serif; font-size: 1.75rem; color : #404040; line-height:1.4">The gallery here was created on Monday September 4th with some boiler plate creation on Sunday September 3rd.</h1>
      </header>
      <nav class="intro__nav ">
        {{#each gallery}}
          <a href="#" class="intro__nav__item">
            <img src="{{src}}?w=128&h=64&fit=crop&crop=entropy" />
        {{/each}}
      </nav>

      <div class="gallery" style="_margin-top:45vh;">
        <div class="gallery__grid">
          {{#each gallery}}

            {{> gallery-image}}

          {{/each}}
        </div>
      </div>


    </main>

    {{> footer}}
    <link href="https://fonts.googleapis.com/css?family=Exo+2:100|Julius+Sans+One|Lato:100|Lora|Montserrat:100|Raleway:100" rel="stylesheet">
  </body>
</html>
