<!DOCTYPE html>
<html lang="en">
  <head>

  </head>
  <body>

    {{> header}}

    <main style="width:90%; max-width: 1600px; margin : 0 auto;">
      <header class="intro__header">

        <h1 class="type__header" style="font-size: 7rem; color : #3F4F70;line-height:1.5">Antarctica 2010</h1>
        <p  class="type__body" style="font-size: 1.75rem; color : #404040; line-height:1.4">The gallery here was created on Monday September 4th with some boiler plate creation on Sunday September 3rd.</p>
      </header>
      <nav class="intro__nav ">
        {{#each gallery}}
          <a href="#gallery__item--{{@index}}" data-scrollto="gallery__item--{{@index}}" class="intro__nav__item">
            <img src="{{src}}?w=128&h=64&fit=crop&crop=entropy" />
          </a>
        {{/each}}
      </nav>

      <div class="gallery" style="_margin-top:45vh;">
        <div class="gallery__grid">
          {{#each gallery}}
            {{#eq type 'image'}}
            {{> gallery-image}}
            {{else}}

              {{#eq type 'text'}}
                {{> gallery-text}}
              {{/eq}}
            {{/eq}}

          {{/each}}
        </div>
      </div>

      <footer class="intro__footer">
        <p style="font-family: 'Lora', serif; padding: 2rem; font-size: 1.25rem; color : #404040; line-height:1.4">&copy; 2010, 2017 Mike Nowak.</h1>
      </footer>


    </main>

    {{> footer}}
    <link href="https://fonts.googleapis.com/css?family=Lato:100|Lora" rel="stylesheet">
  </body>
</html>
