

@import 'mixins/_include-media';

@import 'mixins/_base';


@import 'mixins/_grid';
@import 'mixins/_picture';



.intro {
  width : 100%;
  height : 55vw;
}
.gallery {
  width : 100%;
  overflow: hidden;
  height : auto;
}
