

@import 'mixins/_include-media';

@import 'mixins/_base';
@import 'mixins/_typography';


@import 'mixins/_grid';
@import 'mixins/_picture';


@import 'mixins/_header';


.gallery {
  width : 100%;
  overflow: hidden;
  height : auto;
}
