


.gallery__grid {
  width : 100%;
  display : flex;
  flex-direction: row;
  flex-wrap: wrap;
}



/*
  Containing item.
*/
.gallery__grid__item {
  position : relative;
  overflow : hidden;

  flex : 1 100%;
  min-height : 700px;
  opacity : 0;

  &--double {
    flex : 1 50%;
    min-height : 600px;
  }
  &--triple {
    flex : 1 33.333%;
    min-height : 500px;
  }

  &--slide {
    min-height : 35vh;
  }



  transition : all 0.5s ease-out;

  &.active{
    opacity : 1 !important;
    z-index : 999;
    .gallery__text__header__title, .gallery__text__header__sub {
      transform : none;
    }
    top : 0;
  }
}

@include media("<desktop", "portrait") {
  .gallery__grid__item {
    min-height : 35vh;

    &--double {
      flex : 1 50%;
      min-height : 32vh;
    }
    &--triple {
      flex : 1 33.333%;
      min-height : 25vh;
    }

    &--slide {
        min-height : 30vh;
    }
  }
}
/*

  The default grid used on the site is a five column relative grid (20% each)
  where the number of colspans is defined by a,b,c,d,e = 1,2,3,4,5 respectively.

*/
@include media(">tablet") {

}




@include media("<=tablet") {


}
